p {
  font-family: Lato;
}

.hide-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  hyphens: auto;
}
.three-line-clamp {
  -webkit-line-clamp: 4;
}

.mat-card-content{
  padding: 10px 0px 10px 0px;

}


.mat-card-subtitle-custom{
  height: 2em ;
}

.card-custom{
  padding: 20px;
  border: 2px black solid;
  background-color: aliceblue;
  margin-bottom: 5px;
}

:host{
  width: 100%;
}
